/*-- scss:defaults --*/

// main colors
$primary: #111424; //#111424; // #1C243B;
$primary-light: #202543;
$secondary: #FEFFF9; 
//$secondary: #eeeff5;
$secondary-dark: #eff0e8;

$gray-500: #e2e2ee;

$white: #fff;
$black: #000;

// accent colors
$pink: #FF416A;
$cyan: #0DC0B7; 
$yellow: #FFE600; 
$violet: #9954bb;
$green: #8AE061;
$orange: #FFA46E;

$theme-color-interval: 20%;
$yiq-contrasted-threshold: 60;
$yiq-text-dark: $black;
$table-head-bg: $primary;

// navbar
$navbar-bg: $primary;
$navbar-fg: $secondary;
$body-bg: $secondary;
$body-fg: $primary;
$body-color: $primary;

// .navbar-expand-lg .navbar-nav .nav-link.active{
//   color: $yellow;
//   background-color: $primary-light;
//   border-radius: 10px;
// }

// footer
$footer-bg: $secondary-dark;

// fonts
@import "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap";

$font-family: "Barlow", sans-serif;
$font-family-sans-serif: $font-family;
$font-family-monospace: "JetBrains Mono", monospace;
$font-size-root: 14pt;

/*-- scss:rules --*/

a {
  color: $cyan;
}

.quarto-categories{
  color: $yellow;
}

// Listings

// Default
// .quarto-post.image-right{
//   border-radius: 25px;
//   background-color: $secondary-dark;
// }

// div.quarto-post .thumbnail{
//   flex-basis: 20%;
// }

div.quarto-post .listing-categories .listing-category{
  color: $pink;
  background-color: $secondary-dark;
  border-color: $primary;
}

// Grid
.quarto-grid-item.card-left{
  background-color: $secondary-dark;
  border-color: $primary;
}

.quarto-grid-item .card-title{
  font-weight: 600;
}

.quarto-grid-item .listing-categories .listing-category{
  color: $pink;
  background-color: $secondary-dark;
}


.quarto-listing-category .category.active{
  color: $pink;
}


.anchored {
  margin-top: 2rem !important;
}

blockquote,
.blockquote {
  font-style: italic;
  font-weight: 400;
}

.card p {
  margin-bottom: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.content {
  font-weight: 200;
}

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

@media(min-width: 900px) {
  .content-block {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .content-block {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

div.sourceCode {
  margin-bottom: 2rem;
}

.features {
  padding-bottom: 2em;
  height: calc(100% + 250px);
}

.feature {
  margin-top: 20px;
}

.feature-top {
  height: 75%;
}

.feature-bottom {
  height: 25%;
}

@media (min-width: 800px) {
  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
    width: calc(100% + 30px);
  }

  .feature {
    width: calc(33% - 30px);
    margin: 20px 0 0 30px;
  }
}

.feature h3 {
  margin-top: 0;
}

.feature p:first-of-type {
  margin-bottom: 1rem;
  color: rgb(84, 85, 85);
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 100;
  margin-top: 2rem;
}

h3 {
  font-weight: 800;
  margin-top: 2rem;
}

h4 {
  font-weight: 600;
  margin-top: 2rem;
}

h5 {
  font-weight: 300;
}

h6 {
  font-weight: 500;
}

//.iframe-container {
//  position: relative;
//  overflow: hidden;
//  width: 100%;
//  padding-top: 56.25%; // 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) 
//}

// Then style the iframe to fit in the container div with full height and width 
.iframe-responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#img-me {
  height: auto;
  width: 300px;
}

nav {
  font-weight: 200;
}

.navbar-brand img {
  max-height: 30px;
  width: auto;
}

.navbar-brand-container{
  font-weight: 600;
}

.sidebar nav[role="doc-toc"] ul>li>a.active {
  color: $pink !important;
  font-weight: 400;
}

p {
  margin-bottom: 2rem;
}

.quarto-listing-container-custom h4 {
  margin-top: 0 !important;
}

ul {
  list-style-type: none;
}

.vh-center {
  display: grid;
  justify-content: center;
  align-items: center;
}